* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* nav bar */
canvas {
    display: inline-block;
  }
  
  #canvas_container {
    width: 100%;
    height: 15vh;
  }
  
  button {
      position: relative;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid white;
      border-radius: 5px;
      font-size: 0.9rem;
      padding: 0.5rem 0.9em;
      background: #000000;
      color: white;
      -webkit-font-smoothing: antialiased;
      font-weight: bold;
      cursor: pointer;
      transition: all .3s;
  }
  
  button:hover {
      background: #ffffff;
      color: #000000;
  }
  
  body {
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  nav {
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 100%;
    display: table-cell;
    text-align: center;
    color: #1c1c1c;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: yellow;
  }
  
  nav a:nth-child(1):after {
    background-color: red;
  }
  
  nav a:nth-child(2):before {
    background-color: #00e2ff;
  }
  
  nav a:nth-child(2):after {
    background-color: #89ff00;
  }
  
  nav a:nth-child(3):before {
    background-color: purple;
  }
  
  nav a:nth-child(3):after {
    background-color: palevioletred;
  }
  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: rgb(15, 4, 116);
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
  }
  .btn-6 {
    left: 140%;
    width:150%;
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgb(234, 174, 200) 0%, rgb(11, 76, 156) 100%);
    line-height: 34px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #193a62;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }
